@import "bourbon";
@import "neat";

// gray #414241
// blue #6BBFEE

html {
  box-sizing: border-box;
  font-family: arial;
  color: #414241;
  background-color: #F3EFE0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// FRONT OF HOUSE

.all {
  @include outer-container(950px);
}
.sidebar {
  @include span-columns(4 of 12);
  @include omega(3n);
}

.top {
    border-bottom: 1em solid #9A3334;
    color: #414241;
    padding: .3em;
    line-height: .3em;
}
.admin {
    padding: 1em;
    text-align: right;
    border-bottom: .3em solid #9A3334;
}
.cat {
  font-weight: bold;
  font-size: 1em;
  line-height: 3em;
}
.main {
    @include span-columns(8 of 12);
    @include omega(3n);
    // border: 1px solid red;
}
.front-menu {
  line-height: 1.5em;
  padding-top: 1em;
}
.front-menu-desc {
  display: block;
}
.food-button {
  border-bottom: 4px solid #9A3334;
  padding-bottom: 1em;
}
.food-button button {
  color: #9A3334;
}

.sidebar-menu {
  padding-top: 1em;
  text-align: right;
}
.front-order {
  list-style-type: none;
}

// BACK OF HOUSE

.admin-page {
  @include outer-container(500px);
  text-align: center;
  line-height: 3em;
  margin-top: 6em;
  padding: 1em;
  border: 1em solid #9A3334;
}

.login-page {
  @include outer-container(500px);
  text-align: center;
  margin-top: 6em;
  padding: 1em;
  line-height: 2em;
  border: 1em solid #9A3334;
}

.login-page label {
  display: block;
}

.login-page button {
  background-color: white;
  color: #414241;
  margin: 0 auto;
}

.create-page {
  @include outer-container(500px);
  text-align: center;
  margin-top: 6em;
  padding: 1em;
  line-height: 2em;
  border: 1em solid #9A3334;
}

.create-page label {
  display: block;
}

.create-page button {
  background-color: white;
  color: #414241;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 1em;
}

#menu-description {
  width: 20em;
  height: 5em;
  resize: none;
  border: 1px solid #C1C1C1;
}

.back-update {
  @include outer-container(500px);
  text-align: center;
  margin-top: 6em;
  padding: 1em;
  line-height: 2em;
  border: 1em solid #9A3334;
}

.back-update label {
  display: block;
}

.back-update button {
  background-color: white;
  color: #414241;
  margin: 0 auto;
  display: block;
}

.back-read {
  @include outer-container(500px);
  text-align: center;
  margin-top: 6em;
  padding: 1em;
  line-height: 2em;
  border: 1em solid #9A3334;
}
.read-page {
  list-style-type: none;
}
.d {
  display: block;
  border-bottom: 4px solid #9A3334;
}
a {
  text-decoration: none;
  color: #414241;
  font-weight: bold;
}

.admin-page a {
  color: #414241;
  font-weight: bold;
  text-decoration: none;
}
// .back-update {
//   @include outer-container(500px);
//   text-align: center;
//   margin-top: 6em;
//   padding: 1em;
//   line-height: 2em;
//   border: 1em solid #6BBFEE;
// }
