<div class="all">

    <div class="top">
        <div class="title">
            <i class="fa fa-cutlery"></i>
            <h2>Angel Thai Cuisine</h2>
        </div>
        <h5>6736 Brockton Ave Riverside CA, 92506</h5>
        <h5 class="open">Open Today: 11:00am - 3:00pm</h5>
    </div>
    <div class="main">
        {{menu-categories items=model}}
    </div>
    <div class="sidebar">
        {{sidebar-order items=model}}
    </div>
</div>
