<form {{action 'save' model on='submit'}}>
    <label for="menu-item">Menu Item</label>
    {{input id="menu-item" type="text" value=model.menuItem}}

    <label for="menu-price">Price</label>
    {{input id="menu-price" type="text" value=model.price}}

    <button>Order Up!</button>
</form>
