{{outlet}}

<div class="admin-page">
    <div>{{#link-to 'back.create'}}New Menu Item{{/link-to}}</div>

    <div>{{#link-to 'back.read'}}View Current Menu{{/link-to}}</div>

    {{!-- <div>{{#link-to 'back.orders'}}View Existing Orders{{/link-to}}</div> --}}

    <div>{{#link-to 'front.index'}}Back to Main Page{{/link-to}}</div>
</div>
