<ul class="read-page">
    {{#each model as |item|}}
        <li>{{item.menuItem}}</li>
        <li>{{item.price}}</li>
    {{/each}}
</ul>

{{#link-to 'back.index'}}Return to Admin Page{{/link-to}}

