Read Me

<ul class="read-page">
    {{#each model as |item|}}
        {{#link-to 'back.update'}}<li>{{item.menuItem}}</li>{{/link-to}}
        {{#link-to 'back.update'}}<li>{{item.price}}</li>{{/link-to}}
    {{/each}}
</ul>

{{#link-to 'back.index'}}Return to Admin Page{{/link-to}}

