<div class="top">
    <h2>Angel Thai Cuisine</h2>
    <h5>6736 Brockton Ave Riverside CA, 92506</h5>
    <h5>Open Today: 11:00am - 3:00pm</h5>
</div>

<div class="main">
    <div class="food">
    {{#each model as |item|}}
        <ul>
            <li>{{menuItem.name}}</li>
            <li>{{price.description}}</li>
        </ul>
    {{/each}}
    </div>
    <div class="sidebar">
        <div class="admin">
        {{#link-to 'back.login'}}Administrator Login{{/link-to}}
        </div>
    </div>
</div>

{{outlet}}
